@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Roboto:wght@700&display=swap");
@font-face {
  font-family: feFont;
  src: url(/fonts/FE-FONT.TTF);
}
* {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #242424;
}

header {
  width: 100vw;
  box-sizing: border-box;
  background-color: #141417;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px 0 30px;
  position: fixed;
  gap: 10px;
}
header a {
  text-decoration: none;
  outline: none;
  color: #ff8200;
  border: 2px solid #ff8200;
  padding: 4px 15px 4px 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.25s;
}

header a:hover {
  color: white;
  background-color: #ff8200;
}

.vehiclesContainer {
  padding: 100px 5px 50px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.vehiclesContainer .tableDiv {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #141417;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vehiclesContainer .tableDiv .row {
  background-color: #414141;
}

.vehiclesContainer .tableDiv .row:nth-child(2n) {
  background-color: #242424;
}

.vehiclesContainer .tableDiv .titleRow{
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  font-size: 1.4rem;
}

.vehiclesContainer .tableDiv .titleRow p{
  margin: 0;
}

.vehiclesContainer .tableDiv .row {
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vehiclesContainer .tableDiv .row .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.vehiclesContainer .tableDiv .row .placa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/placa.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "feFont", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding-top: 15px;
  letter-spacing: 4px;
  min-height: 120px;
  min-width: 300px;
  max-height: 120px;
  max-width: 300px;
}

.vehiclesContainer .tableDiv .row .actions a {
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #ff8200;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;
}

.vehiclesContainer .tableDiv .row .actions a:hover{
  background-color: rgb(223, 116, 2);
}


@media only screen and (max-width: 600px) {
  header a {
    font-size: 0.8rem;
    text-align: center;
  }
  .vehiclesContainer .tableDiv .row {
    justify-content: center;
  }
  .vehiclesContainer .tableDiv .row .actions a {
    flex: 1;
  }
  .vehiclesContainer .tableDiv .titleRow p:last-child{
    display: none;
  }
}
